# Deps
node_modules/
dist/

# Env
.env
.env.*
!.env.example

# Logs
logs/
*.log
pnpm-debug.log*

# Misc
.DS_Store
.fleet
.idea

# Nx
.nx/cache
.nx/workspace-data

# Nuxt dev
.output
.data
.nuxt
.nitro
.cache
